@model List<TicketViewModel>
@{
    ViewData["Title"] = "Home Page";
    long.TryParse(Context.User.FindFirst("PersonId")?.Value, out long result);
    long personId = result;
}
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" aria-current="page" id="incoming-tab" data-bs-toggle="tab" href="#incoming" role="tab" aria-controls="incoming" aria-selected="true">Входящие задачи</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="outgoing-tab" data-bs-toggle="tab" href="#outgoing" role="tab" aria-controls="outgoing" aria-selected="false">Исходящие задачи</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" id="btn-create-task" href="@Url.Action("Create","Home")" type="button" aria-selected="false">+ Создать задачу</a>
        </li>
    </ul>
    <hr />
    <div class="tab-content">
        <div class="tab-pane active" id="incoming">
            <table 
                id="incoming-table">
                <thead>
                    <tr>
                        <th data-field="id">№</th>
                        <th data-field="title">Тема</th>
                        <th data-field="description">Описание</th>
                        <th data-field="deadline">Срок</th>
                        <th data-field="createDate">Дата создания</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tab-pane" id="outgoing">
            <table id="outgoing-table">
                <thead>
                    <tr>
                        <th data-field="id">№</th>
                        <th data-field="title">Тема</th>
                        <th data-field="description">Описание</th>
                        <th data-field="deadline">Срок</th>
                        <th data-field="createDate">Дата создания</th>
                    </tr>
                </thead>
            </table>
        </div>
    
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        var $incomingTable = $('#incoming-table')
        var $outgoingTable = null
        
         $(function () {
            createIncomingTable()

            $("#outgoing-tab").click(function () {
                if (!$outgoingTable){
                    createOutgoingTable();
                }
            });

            $("#incoming-tab").click(function () {
                
            });
            
        })

        function createIncomingTable(){
            $.ajax({
                url: '@Url.Action("GetIncoming", "Home")',
                method: 'post',
                dataType: 'html',
                data: { approvingId: @personId },
                success: function (data) {
                    var res = JSON.parse(data)
                    $incomingTable.bootstrapTable({ data: res });
                }
            });
        }

        function updateIncomingTable()
        {

        }

        function createOutgoingTable() {
            $outgoingTable = $('#outgoing-table')
            $.ajax({
                url: '@Url.Action("GetOutgoing", "Home")',
                method: 'post',
                dataType: 'html',
                data: { idAuthor: @personId },
                success: function (data) {
                    var res = JSON.parse(data)
                    $outgoingTable.bootstrapTable({ data: res });
                }
            });
        }

        function updateOutgoingTable() {

        }

    </script>
}
